@charset "UTF-8";

/*
Theme Name: L'espace d'un instant
Author: Elliot COLLIN-RENAULT
Description: Thème créé pour L'espace d'un Instant - Lilia Longé
Version: 1.0
Text Domain: espace-un-instant
*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */


sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

/*
 * Add the correct display in all browsers.
 */

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */


h1,
h2,
h3,
figure,
p {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: Source Sans Pro, sans-serif; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e2e8f0; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

input::placeholder {
  color: #a0aec0;
}

button,
[role="button"] {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
select {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

body {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
}

.site-loading {
  z-index: 50;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
  user-select: none;
}

.page-title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.page-title::after {
  content: "";
  display: block;
  margin-bottom: 1rem;
  width: 2rem;
  border-bottom-width: 1px;
  --border-opacity: 1;
  border-color: #cb7375;
  border-color: rgba(203, 115, 117, var(--border-opacity));
}

.masonry-grid .grid-item {
  width: 200px;
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .masonry-grid .grid-item {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .masonry-grid .grid-item {
    width: 300px;
  }
}

[data-target="reveal"], .js-reveal {
  visibility: hidden;
}

@-webkit-keyframes isOut {
  from {
    display: block;
    opacity: 1;
    pointer-events: all;
  }

  to {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes isOut {
  from {
    display: block;
    opacity: 1;
    pointer-events: all;
  }

  to {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}

.is-out {
  animation: 1s forwards isOut;
  -webkit-animation: 1s forwards isOut;
  -moz-animation: 1s forwards isOut;
  -ms-animation: 1s forwards isOut;
  -o-animation: 1s forwards isOut;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.bg-fixed{
  background-attachment: fixed;
}

.bg-local{
  background-attachment: local;
}

.bg-scroll{
  background-attachment: scroll;
}

.bg-clip-border{
  background-clip: border-box;
}

.bg-clip-padding{
  background-clip: padding-box;
}

.bg-clip-content{
  background-clip: content-box;
}

.bg-clip-text{
  background-clip: text;
}

.bg-transparent{
  background-color: transparent;
}

.bg-current{
  background-color: currentColor;
}

.bg-black{
  --bg-opacity: 1;
  background-color: #000;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.bg-white{
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.bg-gray-100{
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.bg-gray-200{
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.bg-gray-300{
  --bg-opacity: 1;
  background-color: #e2e8f0;
  background-color: rgba(226, 232, 240, var(--bg-opacity));
}

.bg-gray-400{
  --bg-opacity: 1;
  background-color: #cbd5e0;
  background-color: rgba(203, 213, 224, var(--bg-opacity));
}

.bg-gray-500{
  --bg-opacity: 1;
  background-color: #a0aec0;
  background-color: rgba(160, 174, 192, var(--bg-opacity));
}

.bg-gray-600{
  --bg-opacity: 1;
  background-color: #718096;
  background-color: rgba(113, 128, 150, var(--bg-opacity));
}

.bg-gray-700{
  --bg-opacity: 1;
  background-color: #4a5568;
  background-color: rgba(74, 85, 104, var(--bg-opacity));
}

.bg-gray-800{
  --bg-opacity: 1;
  background-color: #2d3748;
  background-color: rgba(45, 55, 72, var(--bg-opacity));
}

.bg-gray-900{
  --bg-opacity: 1;
  background-color: #1a202c;
  background-color: rgba(26, 32, 44, var(--bg-opacity));
}

.bg-red-100{
  --bg-opacity: 1;
  background-color: #fff5f5;
  background-color: rgba(255, 245, 245, var(--bg-opacity));
}

.bg-red-200{
  --bg-opacity: 1;
  background-color: #fed7d7;
  background-color: rgba(254, 215, 215, var(--bg-opacity));
}

.bg-red-300{
  --bg-opacity: 1;
  background-color: #feb2b2;
  background-color: rgba(254, 178, 178, var(--bg-opacity));
}

.bg-red-400{
  --bg-opacity: 1;
  background-color: #fc8181;
  background-color: rgba(252, 129, 129, var(--bg-opacity));
}

.bg-red-500{
  --bg-opacity: 1;
  background-color: #f56565;
  background-color: rgba(245, 101, 101, var(--bg-opacity));
}

.bg-red-600{
  --bg-opacity: 1;
  background-color: #e53e3e;
  background-color: rgba(229, 62, 62, var(--bg-opacity));
}

.bg-red-700{
  --bg-opacity: 1;
  background-color: #c53030;
  background-color: rgba(197, 48, 48, var(--bg-opacity));
}

.bg-red-800{
  --bg-opacity: 1;
  background-color: #9b2c2c;
  background-color: rgba(155, 44, 44, var(--bg-opacity));
}

.bg-red-900{
  --bg-opacity: 1;
  background-color: #742a2a;
  background-color: rgba(116, 42, 42, var(--bg-opacity));
}

.bg-orange-100{
  --bg-opacity: 1;
  background-color: #fffaf0;
  background-color: rgba(255, 250, 240, var(--bg-opacity));
}

.bg-orange-200{
  --bg-opacity: 1;
  background-color: #feebc8;
  background-color: rgba(254, 235, 200, var(--bg-opacity));
}

.bg-orange-300{
  --bg-opacity: 1;
  background-color: #fbd38d;
  background-color: rgba(251, 211, 141, var(--bg-opacity));
}

.bg-orange-400{
  --bg-opacity: 1;
  background-color: #f6ad55;
  background-color: rgba(246, 173, 85, var(--bg-opacity));
}

.bg-orange-500{
  --bg-opacity: 1;
  background-color: #ed8936;
  background-color: rgba(237, 137, 54, var(--bg-opacity));
}

.bg-orange-600{
  --bg-opacity: 1;
  background-color: #dd6b20;
  background-color: rgba(221, 107, 32, var(--bg-opacity));
}

.bg-orange-700{
  --bg-opacity: 1;
  background-color: #c05621;
  background-color: rgba(192, 86, 33, var(--bg-opacity));
}

.bg-orange-800{
  --bg-opacity: 1;
  background-color: #9c4221;
  background-color: rgba(156, 66, 33, var(--bg-opacity));
}

.bg-orange-900{
  --bg-opacity: 1;
  background-color: #7b341e;
  background-color: rgba(123, 52, 30, var(--bg-opacity));
}

.bg-yellow-100{
  --bg-opacity: 1;
  background-color: #fffff0;
  background-color: rgba(255, 255, 240, var(--bg-opacity));
}

.bg-yellow-200{
  --bg-opacity: 1;
  background-color: #fefcbf;
  background-color: rgba(254, 252, 191, var(--bg-opacity));
}

.bg-yellow-300{
  --bg-opacity: 1;
  background-color: #faf089;
  background-color: rgba(250, 240, 137, var(--bg-opacity));
}

.bg-yellow-400{
  --bg-opacity: 1;
  background-color: #f6e05e;
  background-color: rgba(246, 224, 94, var(--bg-opacity));
}

.bg-yellow-500{
  --bg-opacity: 1;
  background-color: #ecc94b;
  background-color: rgba(236, 201, 75, var(--bg-opacity));
}

.bg-yellow-600{
  --bg-opacity: 1;
  background-color: #d69e2e;
  background-color: rgba(214, 158, 46, var(--bg-opacity));
}

.bg-yellow-700{
  --bg-opacity: 1;
  background-color: #b7791f;
  background-color: rgba(183, 121, 31, var(--bg-opacity));
}

.bg-yellow-800{
  --bg-opacity: 1;
  background-color: #975a16;
  background-color: rgba(151, 90, 22, var(--bg-opacity));
}

.bg-yellow-900{
  --bg-opacity: 1;
  background-color: #744210;
  background-color: rgba(116, 66, 16, var(--bg-opacity));
}

.bg-green-100{
  --bg-opacity: 1;
  background-color: #f0fff4;
  background-color: rgba(240, 255, 244, var(--bg-opacity));
}

.bg-green-200{
  --bg-opacity: 1;
  background-color: #c6f6d5;
  background-color: rgba(198, 246, 213, var(--bg-opacity));
}

.bg-green-300{
  --bg-opacity: 1;
  background-color: #9ae6b4;
  background-color: rgba(154, 230, 180, var(--bg-opacity));
}

.bg-green-400{
  --bg-opacity: 1;
  background-color: #68d391;
  background-color: rgba(104, 211, 145, var(--bg-opacity));
}

.bg-green-500{
  --bg-opacity: 1;
  background-color: #48bb78;
  background-color: rgba(72, 187, 120, var(--bg-opacity));
}

.bg-green-600{
  --bg-opacity: 1;
  background-color: #38a169;
  background-color: rgba(56, 161, 105, var(--bg-opacity));
}

.bg-green-700{
  --bg-opacity: 1;
  background-color: #2f855a;
  background-color: rgba(47, 133, 90, var(--bg-opacity));
}

.bg-green-800{
  --bg-opacity: 1;
  background-color: #276749;
  background-color: rgba(39, 103, 73, var(--bg-opacity));
}

.bg-green-900{
  --bg-opacity: 1;
  background-color: #22543d;
  background-color: rgba(34, 84, 61, var(--bg-opacity));
}

.bg-teal-100{
  --bg-opacity: 1;
  background-color: #e6fffa;
  background-color: rgba(230, 255, 250, var(--bg-opacity));
}

.bg-teal-200{
  --bg-opacity: 1;
  background-color: #b2f5ea;
  background-color: rgba(178, 245, 234, var(--bg-opacity));
}

.bg-teal-300{
  --bg-opacity: 1;
  background-color: #81e6d9;
  background-color: rgba(129, 230, 217, var(--bg-opacity));
}

.bg-teal-400{
  --bg-opacity: 1;
  background-color: #4fd1c5;
  background-color: rgba(79, 209, 197, var(--bg-opacity));
}

.bg-teal-500{
  --bg-opacity: 1;
  background-color: #38b2ac;
  background-color: rgba(56, 178, 172, var(--bg-opacity));
}

.bg-teal-600{
  --bg-opacity: 1;
  background-color: #319795;
  background-color: rgba(49, 151, 149, var(--bg-opacity));
}

.bg-teal-700{
  --bg-opacity: 1;
  background-color: #2c7a7b;
  background-color: rgba(44, 122, 123, var(--bg-opacity));
}

.bg-teal-800{
  --bg-opacity: 1;
  background-color: #285e61;
  background-color: rgba(40, 94, 97, var(--bg-opacity));
}

.bg-teal-900{
  --bg-opacity: 1;
  background-color: #234e52;
  background-color: rgba(35, 78, 82, var(--bg-opacity));
}

.bg-blue-100{
  --bg-opacity: 1;
  background-color: #ebf8ff;
  background-color: rgba(235, 248, 255, var(--bg-opacity));
}

.bg-blue-200{
  --bg-opacity: 1;
  background-color: #bee3f8;
  background-color: rgba(190, 227, 248, var(--bg-opacity));
}

.bg-blue-300{
  --bg-opacity: 1;
  background-color: #90cdf4;
  background-color: rgba(144, 205, 244, var(--bg-opacity));
}

.bg-blue-400{
  --bg-opacity: 1;
  background-color: #63b3ed;
  background-color: rgba(99, 179, 237, var(--bg-opacity));
}

.bg-blue-500{
  --bg-opacity: 1;
  background-color: #4299e1;
  background-color: rgba(66, 153, 225, var(--bg-opacity));
}

.bg-blue-600{
  --bg-opacity: 1;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
}

.bg-blue-700{
  --bg-opacity: 1;
  background-color: #2b6cb0;
  background-color: rgba(43, 108, 176, var(--bg-opacity));
}

.bg-blue-800{
  --bg-opacity: 1;
  background-color: #2c5282;
  background-color: rgba(44, 82, 130, var(--bg-opacity));
}

.bg-blue-900{
  --bg-opacity: 1;
  background-color: #2a4365;
  background-color: rgba(42, 67, 101, var(--bg-opacity));
}

.bg-indigo-100{
  --bg-opacity: 1;
  background-color: #ebf4ff;
  background-color: rgba(235, 244, 255, var(--bg-opacity));
}

.bg-indigo-200{
  --bg-opacity: 1;
  background-color: #c3dafe;
  background-color: rgba(195, 218, 254, var(--bg-opacity));
}

.bg-indigo-300{
  --bg-opacity: 1;
  background-color: #a3bffa;
  background-color: rgba(163, 191, 250, var(--bg-opacity));
}

.bg-indigo-400{
  --bg-opacity: 1;
  background-color: #7f9cf5;
  background-color: rgba(127, 156, 245, var(--bg-opacity));
}

.bg-indigo-500{
  --bg-opacity: 1;
  background-color: #667eea;
  background-color: rgba(102, 126, 234, var(--bg-opacity));
}

.bg-indigo-600{
  --bg-opacity: 1;
  background-color: #5a67d8;
  background-color: rgba(90, 103, 216, var(--bg-opacity));
}

.bg-indigo-700{
  --bg-opacity: 1;
  background-color: #4c51bf;
  background-color: rgba(76, 81, 191, var(--bg-opacity));
}

.bg-indigo-800{
  --bg-opacity: 1;
  background-color: #434190;
  background-color: rgba(67, 65, 144, var(--bg-opacity));
}

.bg-indigo-900{
  --bg-opacity: 1;
  background-color: #3c366b;
  background-color: rgba(60, 54, 107, var(--bg-opacity));
}

.bg-purple-100{
  --bg-opacity: 1;
  background-color: #faf5ff;
  background-color: rgba(250, 245, 255, var(--bg-opacity));
}

.bg-purple-200{
  --bg-opacity: 1;
  background-color: #e9d8fd;
  background-color: rgba(233, 216, 253, var(--bg-opacity));
}

.bg-purple-300{
  --bg-opacity: 1;
  background-color: #d6bcfa;
  background-color: rgba(214, 188, 250, var(--bg-opacity));
}

.bg-purple-400{
  --bg-opacity: 1;
  background-color: #b794f4;
  background-color: rgba(183, 148, 244, var(--bg-opacity));
}

.bg-purple-500{
  --bg-opacity: 1;
  background-color: #9f7aea;
  background-color: rgba(159, 122, 234, var(--bg-opacity));
}

.bg-purple-600{
  --bg-opacity: 1;
  background-color: #805ad5;
  background-color: rgba(128, 90, 213, var(--bg-opacity));
}

.bg-purple-700{
  --bg-opacity: 1;
  background-color: #6b46c1;
  background-color: rgba(107, 70, 193, var(--bg-opacity));
}

.bg-purple-800{
  --bg-opacity: 1;
  background-color: #553c9a;
  background-color: rgba(85, 60, 154, var(--bg-opacity));
}

.bg-purple-900{
  --bg-opacity: 1;
  background-color: #44337a;
  background-color: rgba(68, 51, 122, var(--bg-opacity));
}

.bg-pink{
  --bg-opacity: 1;
  background-color: #cb7375;
  background-color: rgba(203, 115, 117, var(--bg-opacity));
}

.bg-none{
  background-image: none;
}

.bg-gradient-to-t{
  background-image: linear-gradient(to top, var(--gradient-color-stops));
}

.bg-gradient-to-tr{
  background-image: linear-gradient(to top right, var(--gradient-color-stops));
}

.bg-gradient-to-r{
  background-image: linear-gradient(to right, var(--gradient-color-stops));
}

.bg-gradient-to-br{
  background-image: linear-gradient(to bottom right, var(--gradient-color-stops));
}

.bg-gradient-to-b{
  background-image: linear-gradient(to bottom, var(--gradient-color-stops));
}

.bg-gradient-to-bl{
  background-image: linear-gradient(to bottom left, var(--gradient-color-stops));
}

.bg-gradient-to-l{
  background-image: linear-gradient(to left, var(--gradient-color-stops));
}

.bg-gradient-to-tl{
  background-image: linear-gradient(to top left, var(--gradient-color-stops));
}

.to-transparent{
  --gradient-to-color: transparent;
}

.to-current{
  --gradient-to-color: currentColor;
}

.to-black{
  --gradient-to-color: #000;
}

.to-white{
  --gradient-to-color: #fff;
}

.to-gray-100{
  --gradient-to-color: #f7fafc;
}

.to-gray-200{
  --gradient-to-color: #edf2f7;
}

.to-gray-300{
  --gradient-to-color: #e2e8f0;
}

.to-gray-400{
  --gradient-to-color: #cbd5e0;
}

.to-gray-500{
  --gradient-to-color: #a0aec0;
}

.to-gray-600{
  --gradient-to-color: #718096;
}

.to-gray-700{
  --gradient-to-color: #4a5568;
}

.to-gray-800{
  --gradient-to-color: #2d3748;
}

.to-gray-900{
  --gradient-to-color: #1a202c;
}

.to-red-100{
  --gradient-to-color: #fff5f5;
}

.to-red-200{
  --gradient-to-color: #fed7d7;
}

.to-red-300{
  --gradient-to-color: #feb2b2;
}

.to-red-400{
  --gradient-to-color: #fc8181;
}

.to-red-500{
  --gradient-to-color: #f56565;
}

.to-red-600{
  --gradient-to-color: #e53e3e;
}

.to-red-700{
  --gradient-to-color: #c53030;
}

.to-red-800{
  --gradient-to-color: #9b2c2c;
}

.to-red-900{
  --gradient-to-color: #742a2a;
}

.to-orange-100{
  --gradient-to-color: #fffaf0;
}

.to-orange-200{
  --gradient-to-color: #feebc8;
}

.to-orange-300{
  --gradient-to-color: #fbd38d;
}

.to-orange-400{
  --gradient-to-color: #f6ad55;
}

.to-orange-500{
  --gradient-to-color: #ed8936;
}

.to-orange-600{
  --gradient-to-color: #dd6b20;
}

.to-orange-700{
  --gradient-to-color: #c05621;
}

.to-orange-800{
  --gradient-to-color: #9c4221;
}

.to-orange-900{
  --gradient-to-color: #7b341e;
}

.to-yellow-100{
  --gradient-to-color: #fffff0;
}

.to-yellow-200{
  --gradient-to-color: #fefcbf;
}

.to-yellow-300{
  --gradient-to-color: #faf089;
}

.to-yellow-400{
  --gradient-to-color: #f6e05e;
}

.to-yellow-500{
  --gradient-to-color: #ecc94b;
}

.to-yellow-600{
  --gradient-to-color: #d69e2e;
}

.to-yellow-700{
  --gradient-to-color: #b7791f;
}

.to-yellow-800{
  --gradient-to-color: #975a16;
}

.to-yellow-900{
  --gradient-to-color: #744210;
}

.to-green-100{
  --gradient-to-color: #f0fff4;
}

.to-green-200{
  --gradient-to-color: #c6f6d5;
}

.to-green-300{
  --gradient-to-color: #9ae6b4;
}

.to-green-400{
  --gradient-to-color: #68d391;
}

.to-green-500{
  --gradient-to-color: #48bb78;
}

.to-green-600{
  --gradient-to-color: #38a169;
}

.to-green-700{
  --gradient-to-color: #2f855a;
}

.to-green-800{
  --gradient-to-color: #276749;
}

.to-green-900{
  --gradient-to-color: #22543d;
}

.to-teal-100{
  --gradient-to-color: #e6fffa;
}

.to-teal-200{
  --gradient-to-color: #b2f5ea;
}

.to-teal-300{
  --gradient-to-color: #81e6d9;
}

.to-teal-400{
  --gradient-to-color: #4fd1c5;
}

.to-teal-500{
  --gradient-to-color: #38b2ac;
}

.to-teal-600{
  --gradient-to-color: #319795;
}

.to-teal-700{
  --gradient-to-color: #2c7a7b;
}

.to-teal-800{
  --gradient-to-color: #285e61;
}

.to-teal-900{
  --gradient-to-color: #234e52;
}

.to-blue-100{
  --gradient-to-color: #ebf8ff;
}

.to-blue-200{
  --gradient-to-color: #bee3f8;
}

.to-blue-300{
  --gradient-to-color: #90cdf4;
}

.to-blue-400{
  --gradient-to-color: #63b3ed;
}

.to-blue-500{
  --gradient-to-color: #4299e1;
}

.to-blue-600{
  --gradient-to-color: #3182ce;
}

.to-blue-700{
  --gradient-to-color: #2b6cb0;
}

.to-blue-800{
  --gradient-to-color: #2c5282;
}

.to-blue-900{
  --gradient-to-color: #2a4365;
}

.to-indigo-100{
  --gradient-to-color: #ebf4ff;
}

.to-indigo-200{
  --gradient-to-color: #c3dafe;
}

.to-indigo-300{
  --gradient-to-color: #a3bffa;
}

.to-indigo-400{
  --gradient-to-color: #7f9cf5;
}

.to-indigo-500{
  --gradient-to-color: #667eea;
}

.to-indigo-600{
  --gradient-to-color: #5a67d8;
}

.to-indigo-700{
  --gradient-to-color: #4c51bf;
}

.to-indigo-800{
  --gradient-to-color: #434190;
}

.to-indigo-900{
  --gradient-to-color: #3c366b;
}

.to-purple-100{
  --gradient-to-color: #faf5ff;
}

.to-purple-200{
  --gradient-to-color: #e9d8fd;
}

.to-purple-300{
  --gradient-to-color: #d6bcfa;
}

.to-purple-400{
  --gradient-to-color: #b794f4;
}

.to-purple-500{
  --gradient-to-color: #9f7aea;
}

.to-purple-600{
  --gradient-to-color: #805ad5;
}

.to-purple-700{
  --gradient-to-color: #6b46c1;
}

.to-purple-800{
  --gradient-to-color: #553c9a;
}

.to-purple-900{
  --gradient-to-color: #44337a;
}

.to-pink{
  --gradient-to-color: #cb7375;
}

.bg-opacity-0{
  --bg-opacity: 0;
}

.bg-opacity-25{
  --bg-opacity: 0.25;
}

.bg-opacity-50{
  --bg-opacity: 0.5;
}

.bg-opacity-75{
  --bg-opacity: 0.75;
}

.bg-opacity-100{
  --bg-opacity: 1;
}

.bg-bottom{
  background-position: bottom;
}

.bg-center{
  background-position: center;
}

.bg-left{
  background-position: left;
}

.bg-left-bottom{
  background-position: left bottom;
}

.bg-left-top{
  background-position: left top;
}

.bg-right{
  background-position: right;
}

.bg-right-bottom{
  background-position: right bottom;
}

.bg-right-top{
  background-position: right top;
}

.bg-top{
  background-position: top;
}

.bg-repeat{
  background-repeat: repeat;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.bg-repeat-x{
  background-repeat: repeat-x;
}

.bg-repeat-y{
  background-repeat: repeat-y;
}

.bg-repeat-round{
  background-repeat: round;
}

.bg-repeat-space{
  background-repeat: space;
}

.bg-auto{
  background-size: auto;
}

.bg-cover{
  background-size: cover;
}

.bg-contain{
  background-size: contain;
}

.border-gray-300{
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
}

.border-pink{
  --border-opacity: 1;
  border-color: #cb7375;
  border-color: rgba(203, 115, 117, var(--border-opacity));
}

.rounded{
  border-radius: 0.25rem;
}

.border{
  border-width: 1px;
}

.border-b-2{
  border-bottom-width: 2px;
}

.border-b{
  border-bottom-width: 1px;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.flex-col{
  flex-direction: column;
}

.place-items-center{
  place-items: center;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.order-2{
  order: 2;
}

.font-sans{
  font-family: Source Sans Pro, sans-serif;
}

.font-serif{
  font-family: Source Serif Pro, serif;
}

.font-light{
  font-weight: 300;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.h-16{
  height: 4rem;
}

.h-64{
  height: 16rem;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.text-sm{
  font-size: 0.875rem;
}

.text-base{
  font-size: 1rem;
}

.text-lg{
  font-size: 1.125rem;
}

.text-xl{
  font-size: 1.25rem;
}

.text-2xl{
  font-size: 1.5rem;
}

.text-3xl{
  font-size: 1.875rem;
}

.text-4xl{
  font-size: 2.25rem;
}

.text-5xl{
  font-size: 3rem;
}

.leading-tight{
  line-height: 1.25;
}

.my-0{
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0{
  margin-left: 0;
  margin-right: 0;
}

.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-1{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-3{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-5{
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-6{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-8{
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-10{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-12{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-12{
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-16{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx-16{
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-20{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mx-20{
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-24{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mx-24{
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-32{
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mx-32{
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-40{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.mx-40{
  margin-left: 10rem;
  margin-right: 10rem;
}

.my-48{
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.mx-48{
  margin-left: 12rem;
  margin-right: 12rem;
}

.my-56{
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.mx-56{
  margin-left: 14rem;
  margin-right: 14rem;
}

.my-64{
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.mx-64{
  margin-left: 16rem;
  margin-right: 16rem;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-px{
  margin-top: 1px;
  margin-bottom: 1px;
}

.mx-px{
  margin-left: 1px;
  margin-right: 1px;
}

.mt-0{
  margin-top: 0;
}

.mr-0{
  margin-right: 0;
}

.mb-0{
  margin-bottom: 0;
}

.ml-0{
  margin-left: 0;
}

.mt-1{
  margin-top: 0.25rem;
}

.mr-1{
  margin-right: 0.25rem;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mr-3{
  margin-right: 0.75rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mr-4{
  margin-right: 1rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.ml-4{
  margin-left: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mr-5{
  margin-right: 1.25rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.ml-5{
  margin-left: 1.25rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mr-6{
  margin-right: 1.5rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.ml-6{
  margin-left: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.mr-8{
  margin-right: 2rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.ml-8{
  margin-left: 2rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mr-10{
  margin-right: 2.5rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.ml-10{
  margin-left: 2.5rem;
}

.mt-12{
  margin-top: 3rem;
}

.mr-12{
  margin-right: 3rem;
}

.mb-12{
  margin-bottom: 3rem;
}

.ml-12{
  margin-left: 3rem;
}

.mt-16{
  margin-top: 4rem;
}

.mr-16{
  margin-right: 4rem;
}

.mb-16{
  margin-bottom: 4rem;
}

.ml-16{
  margin-left: 4rem;
}

.mt-20{
  margin-top: 5rem;
}

.mr-20{
  margin-right: 5rem;
}

.mb-20{
  margin-bottom: 5rem;
}

.ml-20{
  margin-left: 5rem;
}

.mt-24{
  margin-top: 6rem;
}

.mr-24{
  margin-right: 6rem;
}

.mb-24{
  margin-bottom: 6rem;
}

.ml-24{
  margin-left: 6rem;
}

.mt-32{
  margin-top: 8rem;
}

.mr-32{
  margin-right: 8rem;
}

.mb-32{
  margin-bottom: 8rem;
}

.ml-32{
  margin-left: 8rem;
}

.mt-40{
  margin-top: 10rem;
}

.mr-40{
  margin-right: 10rem;
}

.mb-40{
  margin-bottom: 10rem;
}

.ml-40{
  margin-left: 10rem;
}

.mt-48{
  margin-top: 12rem;
}

.mr-48{
  margin-right: 12rem;
}

.mb-48{
  margin-bottom: 12rem;
}

.ml-48{
  margin-left: 12rem;
}

.mt-56{
  margin-top: 14rem;
}

.mr-56{
  margin-right: 14rem;
}

.mb-56{
  margin-bottom: 14rem;
}

.ml-56{
  margin-left: 14rem;
}

.mt-64{
  margin-top: 16rem;
}

.mr-64{
  margin-right: 16rem;
}

.mb-64{
  margin-bottom: 16rem;
}

.ml-64{
  margin-left: 16rem;
}

.mt-auto{
  margin-top: auto;
}

.mr-auto{
  margin-right: auto;
}

.mb-auto{
  margin-bottom: auto;
}

.ml-auto{
  margin-left: auto;
}

.mt-px{
  margin-top: 1px;
}

.mr-px{
  margin-right: 1px;
}

.mb-px{
  margin-bottom: 1px;
}

.ml-px{
  margin-left: 1px;
}

.-ml-3{
  margin-left: -0.75rem;
}

.-mt-10{
  margin-top: -2.5rem;
}

.-mt-32{
  margin-top: -8rem;
}

.max-w-sm{
  max-width: 24rem;
}

.max-w-md{
  max-width: 28rem;
}

.max-w-lg{
  max-width: 32rem;
}

.max-w-2xl{
  max-width: 42rem;
}

.object-cover{
  object-fit: cover;
}

.opacity-25{
  opacity: 0.25;
}

.opacity-50{
  opacity: 0.5;
}

.overflow-hidden{
  overflow: hidden;
}

.p-2{
  padding: 0.5rem;
}

.p-4{
  padding: 1rem;
}

.py-0{
  padding-top: 0;
  padding-bottom: 0;
}

.px-0{
  padding-left: 0;
  padding-right: 0;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-12{
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-20{
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-24{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.px-24{
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-32{
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.px-32{
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-40{
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.px-40{
  padding-left: 10rem;
  padding-right: 10rem;
}

.py-48{
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.px-48{
  padding-left: 12rem;
  padding-right: 12rem;
}

.py-56{
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.px-56{
  padding-left: 14rem;
  padding-right: 14rem;
}

.py-64{
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.px-64{
  padding-left: 16rem;
  padding-right: 16rem;
}

.py-px{
  padding-top: 1px;
  padding-bottom: 1px;
}

.px-px{
  padding-left: 1px;
  padding-right: 1px;
}

.pt-0{
  padding-top: 0;
}

.pr-0{
  padding-right: 0;
}

.pb-0{
  padding-bottom: 0;
}

.pl-0{
  padding-left: 0;
}

.pt-1{
  padding-top: 0.25rem;
}

.pr-1{
  padding-right: 0.25rem;
}

.pb-1{
  padding-bottom: 0.25rem;
}

.pl-1{
  padding-left: 0.25rem;
}

.pt-2{
  padding-top: 0.5rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.pb-2{
  padding-bottom: 0.5rem;
}

.pl-2{
  padding-left: 0.5rem;
}

.pt-3{
  padding-top: 0.75rem;
}

.pr-3{
  padding-right: 0.75rem;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pl-3{
  padding-left: 0.75rem;
}

.pt-4{
  padding-top: 1rem;
}

.pr-4{
  padding-right: 1rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pl-4{
  padding-left: 1rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.pr-5{
  padding-right: 1.25rem;
}

.pb-5{
  padding-bottom: 1.25rem;
}

.pl-5{
  padding-left: 1.25rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pr-6{
  padding-right: 1.5rem;
}

.pb-6{
  padding-bottom: 1.5rem;
}

.pl-6{
  padding-left: 1.5rem;
}

.pt-8{
  padding-top: 2rem;
}

.pr-8{
  padding-right: 2rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pl-8{
  padding-left: 2rem;
}

.pt-10{
  padding-top: 2.5rem;
}

.pr-10{
  padding-right: 2.5rem;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.pl-10{
  padding-left: 2.5rem;
}

.pt-12{
  padding-top: 3rem;
}

.pr-12{
  padding-right: 3rem;
}

.pb-12{
  padding-bottom: 3rem;
}

.pl-12{
  padding-left: 3rem;
}

.pt-16{
  padding-top: 4rem;
}

.pr-16{
  padding-right: 4rem;
}

.pb-16{
  padding-bottom: 4rem;
}

.pl-16{
  padding-left: 4rem;
}

.pt-20{
  padding-top: 5rem;
}

.pr-20{
  padding-right: 5rem;
}

.pb-20{
  padding-bottom: 5rem;
}

.pl-20{
  padding-left: 5rem;
}

.pt-24{
  padding-top: 6rem;
}

.pr-24{
  padding-right: 6rem;
}

.pb-24{
  padding-bottom: 6rem;
}

.pl-24{
  padding-left: 6rem;
}

.pt-32{
  padding-top: 8rem;
}

.pr-32{
  padding-right: 8rem;
}

.pb-32{
  padding-bottom: 8rem;
}

.pl-32{
  padding-left: 8rem;
}

.pt-40{
  padding-top: 10rem;
}

.pr-40{
  padding-right: 10rem;
}

.pb-40{
  padding-bottom: 10rem;
}

.pl-40{
  padding-left: 10rem;
}

.pt-48{
  padding-top: 12rem;
}

.pr-48{
  padding-right: 12rem;
}

.pb-48{
  padding-bottom: 12rem;
}

.pl-48{
  padding-left: 12rem;
}

.pt-56{
  padding-top: 14rem;
}

.pr-56{
  padding-right: 14rem;
}

.pb-56{
  padding-bottom: 14rem;
}

.pl-56{
  padding-left: 14rem;
}

.pt-64{
  padding-top: 16rem;
}

.pr-64{
  padding-right: 16rem;
}

.pb-64{
  padding-bottom: 16rem;
}

.pl-64{
  padding-left: 16rem;
}

.pt-px{
  padding-top: 1px;
}

.pr-px{
  padding-right: 1px;
}

.pb-px{
  padding-bottom: 1px;
}

.pl-px{
  padding-left: 1px;
}

.pointer-events-none{
  pointer-events: none;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.top-0{
  top: 0;
}

.right-0{
  right: 0;
}

.bottom-0{
  bottom: 0;
}

.left-0{
  left: 0;
}

.shadow{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-xl{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.shadow-2xl{
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.text-center{
  text-align: center;
}

.text-black{
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
}

.text-white{
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.text-gray-500{
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}

.text-gray-600{
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

.text-gray-800{
  --text-opacity: 1;
  color: #2d3748;
  color: rgba(45, 55, 72, var(--text-opacity));
}

.text-pink{
  --text-opacity: 1;
  color: #cb7375;
  color: rgba(203, 115, 117, var(--text-opacity));
}

.uppercase{
  text-transform: uppercase;
}

.no-underline{
  text-decoration: none;
}

.tracking-wide{
  letter-spacing: 0.025em;
}

.select-none{
  user-select: none;
}

.w-8{
  width: 2rem;
}

.w-16{
  width: 4rem;
}

.w-32{
  width: 8rem;
}

.w-auto{
  width: auto;
}

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.z-0{
  z-index: 0;
}

.z-40{
  z-index: 40;
}

.z-50{
  z-index: 50;
}

.gap-4{
  grid-gap: 1rem;
  gap: 1rem;
}

.gap-6{
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

.gap-16{
  grid-gap: 4rem;
  gap: 4rem;
}

.transform{
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}

.origin-bottom-right{
  transform-origin: bottom right;
}

.origin-bottom{
  transform-origin: bottom;
}

.origin-bottom-left{
  transform-origin: bottom left;
}

.scale-105{
  --transform-scale-x: 1.05;
  --transform-scale-y: 1.05;
}

.rotate-90{
  --transform-rotate: 90deg;
}

.-rotate-180{
  --transform-rotate: -180deg;
}

.-rotate-90{
  --transform-rotate: -90deg;
}

.translate-x-6{
  --transform-translate-x: 1.5rem;
}

.translate-x-20{
  --transform-translate-x: 5rem;
}

.translate-x-24{
  --transform-translate-x: 6rem;
}

.-translate-x-6{
  --transform-translate-x: -1.5rem;
}

.-translate-x-20{
  --transform-translate-x: -5rem;
}

.-translate-x-24{
  --transform-translate-x: -6rem;
}

.-translate-y-1{
  --transform-translate-y: -0.25rem;
}

.-translate-y-32{
  --transform-translate-y: -8rem;
}

.transition-all{
  transition-property: all;
}

.duration-300{
  transition-duration: 300ms;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

@keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse{
  50%{
    opacity: .5;
  }
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50%{
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

figure:not(.alignfull) img {
  border-radius: 0.25rem;
}

figure figcaption {
  font-size: 0.875rem;
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
  text-align: center;
  letter-spacing: 0.025em;
}

@media (min-width: 1024px) {
  .alignwide {
    margin-left: -20%;
    margin-right: -20%;
  }
}

.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.alignfull img {
  -o-object-fit: cover;
  object-fit: cover;
}

.boxed {
  position: relative;
}

.boxed img {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  position: relative;
}

.boxed::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 0.75rem;
  margin-left: -0.75rem;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #cb7375;
  border-color: rgba(203, 115, 117, var(--border-opacity));
  border-radius: 0.25rem;
}

.boxed--right::before, .projects-list .project:nth-child(even) .project-thumb::before {
  content: "";
  margin-left: 0.75rem;
}

.btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.25rem;
  font-weight: 600;
  display: inline-block;
  transition-property: all;
  transition-duration: 300ms;
  display: flex;
  place-items: center;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}

.btn--pink {
  --bg-opacity: 1;
  background-color: #cb7375;
  background-color: rgba(203, 115, 117, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.btn--pink:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --transform-translate-y: -0.25rem;
}

.btn--gray__outline {
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
}

.btn--gray__outline:hover {
  --text-opacity: 1;
  color: #cb7375;
  color: rgba(203, 115, 117, var(--text-opacity));
  --transform-translate-y: -0.25rem;
}

.page-content h2 {
  font-family: Source Serif Pro, serif;
  font-size: 1.5rem;
}

.main-nav .menu-item {
  display: block;
  margin-bottom: 0.25rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
}

.main-nav .menu-item a {
  display: block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.main-nav .menu-item:not(.current-menu-item):hover {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

@media (min-width: 768px) {
  .main-nav .menu-item {
    margin-bottom: 0;
  }
}

.main-nav .current-menu-item {
  font-weight: 600;
  --bg-opacity: 1;
  background-color: #cb7375;
  background-color: rgba(203, 115, 117, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

@media (min-width: 768px) {
  .main-nav .current-menu-item {
    background-color: transparent;
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity));
  }

  .main-nav .current-menu-item::after {
    content: '';
    margin-left: 1rem;
    display: block;
    width: 2rem;
    border-bottom-width: 2px;
    --border-opacity: 1;
    border-color: #cb7375;
    border-color: rgba(203, 115, 117, var(--border-opacity));
  }
}

.main-nav select {
  font-weight: 600;
  padding: 0.5rem;
  border-width: 1px;
  --border-opacity: 1;
  border-color: #e2e8f0;
  border-color: rgba(226, 232, 240, var(--border-opacity));
  border-radius: 0.25rem;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 768px) {
  .main-nav select {
    margin-left: 2rem;
    width: auto;
  }
}

.projects-list {
  display: grid;
  grid-gap: 4rem;
  gap: 4rem;
}

.projects-list .project:nth-child(odd) .project-thumb {
  order: 2;
}

@media (min-width: 768px) {
  .projects-list .project:nth-child(odd) .project-desc {
    margin-right: 1.5rem;
  }
}

.projects-list .project:nth-child(odd) .project-tags {
  --transform-translate-x: -1.5rem;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  --transform-rotate: -90deg;
}

.projects-list .project:nth-child(odd) .read-more {
  --transform-translate-x: 5rem;
}

.projects-list .project:nth-child(odd) .read-more:hover {
  --transform-translate-x: 6rem;
}

@media (min-width: 768px) {
  .projects-list .project:nth-child(even) .project-desc {
    margin-left: 1.5rem;
  }
}

.projects-list .project:nth-child(even) .project-tags {
  --transform-translate-x: 1.5rem;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
  --transform-rotate: 90deg;
}

.projects-list .project:nth-child(even) .read-more {
  justify-content: flex-start;
  --transform-translate-x: -5rem;
}

.projects-list .project:nth-child(even) .read-more:hover {
  --transform-translate-x: -6rem;
}

.projects-list .project:nth-child(even) .read-more img {
  order: -1;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  --transform-rotate: -180deg;
  margin-right: 0.5rem;
  margin-left: 0;
}

.read-more {
  --text-opacity: 1;
  color: #cb7375;
  color: rgba(203, 115, 117, var(--text-opacity));
  font-family: Source Serif Pro, serif;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-left: auto;
  justify-content: flex-end;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-duration: 300ms;
}

.read-more img {
  margin-left: 0.5rem;
}

.project-content * {
  visibility: hidden;
}

.project-content p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .project-content p {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .project-content p {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.project-thumb a {
  display: block;
  overflow: hidden;
  border-radius: 0.25rem;
  height: 100%;
}

.project-thumb img {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-duration: 300ms;
  transform-origin: bottom;
}

.project-thumb:hover img {
  --transform-scale-x: 1.05;
  --transform-scale-y: 1.05;
}

.social-menu {
  display: flex;
}

.social-menu li a {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  place-items: center;
  justify-content: center;
  transition-duration: 300ms;
  width: 35px;
  height: 35px;
  background-image: url("/wp-content/themes/espaceuninstant/assets/images/sprites-social.png");
  background-size: calc(35px * 4);
  text-indent: -999rem;
}

.social-menu li a:first-of-type {
  margin-left: 0;
}

.social-menu li a:hover {
  background-position-y: bottom;
}

.social-menu .facebook a {
  background-position: 0 0;
}

.social-menu .linkedin a {
  background-position: 35px 0;
}

.social-menu .houzz a {
  background-position: 70px 0;
}

.social-menu .instagram a {
  background-position: 105px 0;
}

@media (min-width: 640px){

  .sm\:my-0{
    margin-top: 0;
    margin-bottom: 0;
  }

  .sm\:mx-0{
    margin-left: 0;
    margin-right: 0;
  }

  .sm\:my-1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .sm\:mx-1{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .sm\:my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .sm\:mx-2{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sm\:my-3{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .sm\:mx-3{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .sm\:my-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sm\:mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .sm\:my-5{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .sm\:mx-5{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .sm\:my-6{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .sm\:mx-6{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .sm\:my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sm\:mx-8{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .sm\:my-10{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .sm\:mx-10{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .sm\:my-12{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .sm\:mx-12{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .sm\:my-16{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .sm\:mx-16{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .sm\:my-20{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .sm\:mx-20{
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .sm\:my-24{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .sm\:mx-24{
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .sm\:my-32{
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .sm\:mx-32{
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .sm\:my-40{
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .sm\:mx-40{
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .sm\:my-48{
    margin-top: 12rem;
    margin-bottom: 12rem;
  }

  .sm\:mx-48{
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .sm\:my-56{
    margin-top: 14rem;
    margin-bottom: 14rem;
  }

  .sm\:mx-56{
    margin-left: 14rem;
    margin-right: 14rem;
  }

  .sm\:my-64{
    margin-top: 16rem;
    margin-bottom: 16rem;
  }

  .sm\:mx-64{
    margin-left: 16rem;
    margin-right: 16rem;
  }

  .sm\:mt-0{
    margin-top: 0;
  }

  .sm\:mr-0{
    margin-right: 0;
  }

  .sm\:mb-0{
    margin-bottom: 0;
  }

  .sm\:ml-0{
    margin-left: 0;
  }

  .sm\:mt-1{
    margin-top: 0.25rem;
  }

  .sm\:mr-1{
    margin-right: 0.25rem;
  }

  .sm\:mb-1{
    margin-bottom: 0.25rem;
  }

  .sm\:ml-1{
    margin-left: 0.25rem;
  }

  .sm\:mt-2{
    margin-top: 0.5rem;
  }

  .sm\:mr-2{
    margin-right: 0.5rem;
  }

  .sm\:mb-2{
    margin-bottom: 0.5rem;
  }

  .sm\:ml-2{
    margin-left: 0.5rem;
  }

  .sm\:mt-3{
    margin-top: 0.75rem;
  }

  .sm\:mr-3{
    margin-right: 0.75rem;
  }

  .sm\:mb-3{
    margin-bottom: 0.75rem;
  }

  .sm\:ml-3{
    margin-left: 0.75rem;
  }

  .sm\:mt-4{
    margin-top: 1rem;
  }

  .sm\:mr-4{
    margin-right: 1rem;
  }

  .sm\:mb-4{
    margin-bottom: 1rem;
  }

  .sm\:ml-4{
    margin-left: 1rem;
  }

  .sm\:mt-5{
    margin-top: 1.25rem;
  }

  .sm\:mr-5{
    margin-right: 1.25rem;
  }

  .sm\:mb-5{
    margin-bottom: 1.25rem;
  }

  .sm\:ml-5{
    margin-left: 1.25rem;
  }

  .sm\:mt-6{
    margin-top: 1.5rem;
  }

  .sm\:mr-6{
    margin-right: 1.5rem;
  }

  .sm\:mb-6{
    margin-bottom: 1.5rem;
  }

  .sm\:ml-6{
    margin-left: 1.5rem;
  }

  .sm\:mt-8{
    margin-top: 2rem;
  }

  .sm\:mr-8{
    margin-right: 2rem;
  }

  .sm\:mb-8{
    margin-bottom: 2rem;
  }

  .sm\:ml-8{
    margin-left: 2rem;
  }

  .sm\:mt-10{
    margin-top: 2.5rem;
  }

  .sm\:mr-10{
    margin-right: 2.5rem;
  }

  .sm\:mb-10{
    margin-bottom: 2.5rem;
  }

  .sm\:ml-10{
    margin-left: 2.5rem;
  }

  .sm\:mt-12{
    margin-top: 3rem;
  }

  .sm\:mr-12{
    margin-right: 3rem;
  }

  .sm\:mb-12{
    margin-bottom: 3rem;
  }

  .sm\:ml-12{
    margin-left: 3rem;
  }

  .sm\:mt-16{
    margin-top: 4rem;
  }

  .sm\:mr-16{
    margin-right: 4rem;
  }

  .sm\:mb-16{
    margin-bottom: 4rem;
  }

  .sm\:ml-16{
    margin-left: 4rem;
  }

  .sm\:mt-20{
    margin-top: 5rem;
  }

  .sm\:mr-20{
    margin-right: 5rem;
  }

  .sm\:mb-20{
    margin-bottom: 5rem;
  }

  .sm\:ml-20{
    margin-left: 5rem;
  }

  .sm\:mt-24{
    margin-top: 6rem;
  }

  .sm\:mr-24{
    margin-right: 6rem;
  }

  .sm\:mb-24{
    margin-bottom: 6rem;
  }

  .sm\:ml-24{
    margin-left: 6rem;
  }

  .sm\:mt-32{
    margin-top: 8rem;
  }

  .sm\:mr-32{
    margin-right: 8rem;
  }

  .sm\:mb-32{
    margin-bottom: 8rem;
  }

  .sm\:ml-32{
    margin-left: 8rem;
  }

  .sm\:mt-40{
    margin-top: 10rem;
  }

  .sm\:mr-40{
    margin-right: 10rem;
  }

  .sm\:mb-40{
    margin-bottom: 10rem;
  }

  .sm\:ml-40{
    margin-left: 10rem;
  }

  .sm\:mt-48{
    margin-top: 12rem;
  }

  .sm\:mr-48{
    margin-right: 12rem;
  }

  .sm\:mb-48{
    margin-bottom: 12rem;
  }

  .sm\:ml-48{
    margin-left: 12rem;
  }

  .sm\:mt-56{
    margin-top: 14rem;
  }

  .sm\:mr-56{
    margin-right: 14rem;
  }

  .sm\:mb-56{
    margin-bottom: 14rem;
  }

  .sm\:ml-56{
    margin-left: 14rem;
  }

  .sm\:mt-64{
    margin-top: 16rem;
  }

  .sm\:mr-64{
    margin-right: 16rem;
  }

  .sm\:mb-64{
    margin-bottom: 16rem;
  }

  .sm\:ml-64{
    margin-left: 16rem;
  }

  .sm\:py-0{
    padding-top: 0;
    padding-bottom: 0;
  }

  .sm\:px-0{
    padding-left: 0;
    padding-right: 0;
  }

  .sm\:py-1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .sm\:px-1{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .sm\:py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .sm\:px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .sm\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .sm\:px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .sm\:py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sm\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm\:py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .sm\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .sm\:py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sm\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .sm\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .sm\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .sm\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .sm\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .sm\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .sm\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .sm\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .sm\:px-24{
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .sm\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .sm\:px-32{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .sm\:py-40{
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .sm\:px-40{
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .sm\:py-48{
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .sm\:px-48{
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .sm\:py-56{
    padding-top: 14rem;
    padding-bottom: 14rem;
  }

  .sm\:px-56{
    padding-left: 14rem;
    padding-right: 14rem;
  }

  .sm\:py-64{
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  .sm\:px-64{
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .sm\:pt-0{
    padding-top: 0;
  }

  .sm\:pr-0{
    padding-right: 0;
  }

  .sm\:pb-0{
    padding-bottom: 0;
  }

  .sm\:pl-0{
    padding-left: 0;
  }

  .sm\:pt-1{
    padding-top: 0.25rem;
  }

  .sm\:pr-1{
    padding-right: 0.25rem;
  }

  .sm\:pb-1{
    padding-bottom: 0.25rem;
  }

  .sm\:pl-1{
    padding-left: 0.25rem;
  }

  .sm\:pt-2{
    padding-top: 0.5rem;
  }

  .sm\:pr-2{
    padding-right: 0.5rem;
  }

  .sm\:pb-2{
    padding-bottom: 0.5rem;
  }

  .sm\:pl-2{
    padding-left: 0.5rem;
  }

  .sm\:pt-3{
    padding-top: 0.75rem;
  }

  .sm\:pr-3{
    padding-right: 0.75rem;
  }

  .sm\:pb-3{
    padding-bottom: 0.75rem;
  }

  .sm\:pl-3{
    padding-left: 0.75rem;
  }

  .sm\:pt-4{
    padding-top: 1rem;
  }

  .sm\:pr-4{
    padding-right: 1rem;
  }

  .sm\:pb-4{
    padding-bottom: 1rem;
  }

  .sm\:pl-4{
    padding-left: 1rem;
  }

  .sm\:pt-5{
    padding-top: 1.25rem;
  }

  .sm\:pr-5{
    padding-right: 1.25rem;
  }

  .sm\:pb-5{
    padding-bottom: 1.25rem;
  }

  .sm\:pl-5{
    padding-left: 1.25rem;
  }

  .sm\:pt-6{
    padding-top: 1.5rem;
  }

  .sm\:pr-6{
    padding-right: 1.5rem;
  }

  .sm\:pb-6{
    padding-bottom: 1.5rem;
  }

  .sm\:pl-6{
    padding-left: 1.5rem;
  }

  .sm\:pt-8{
    padding-top: 2rem;
  }

  .sm\:pr-8{
    padding-right: 2rem;
  }

  .sm\:pb-8{
    padding-bottom: 2rem;
  }

  .sm\:pl-8{
    padding-left: 2rem;
  }

  .sm\:pt-10{
    padding-top: 2.5rem;
  }

  .sm\:pr-10{
    padding-right: 2.5rem;
  }

  .sm\:pb-10{
    padding-bottom: 2.5rem;
  }

  .sm\:pl-10{
    padding-left: 2.5rem;
  }

  .sm\:pt-12{
    padding-top: 3rem;
  }

  .sm\:pr-12{
    padding-right: 3rem;
  }

  .sm\:pb-12{
    padding-bottom: 3rem;
  }

  .sm\:pl-12{
    padding-left: 3rem;
  }

  .sm\:pt-16{
    padding-top: 4rem;
  }

  .sm\:pr-16{
    padding-right: 4rem;
  }

  .sm\:pb-16{
    padding-bottom: 4rem;
  }

  .sm\:pl-16{
    padding-left: 4rem;
  }

  .sm\:pt-20{
    padding-top: 5rem;
  }

  .sm\:pr-20{
    padding-right: 5rem;
  }

  .sm\:pb-20{
    padding-bottom: 5rem;
  }

  .sm\:pl-20{
    padding-left: 5rem;
  }

  .sm\:pt-24{
    padding-top: 6rem;
  }

  .sm\:pr-24{
    padding-right: 6rem;
  }

  .sm\:pb-24{
    padding-bottom: 6rem;
  }

  .sm\:pl-24{
    padding-left: 6rem;
  }

  .sm\:pt-32{
    padding-top: 8rem;
  }

  .sm\:pr-32{
    padding-right: 8rem;
  }

  .sm\:pb-32{
    padding-bottom: 8rem;
  }

  .sm\:pl-32{
    padding-left: 8rem;
  }

  .sm\:pt-40{
    padding-top: 10rem;
  }

  .sm\:pr-40{
    padding-right: 10rem;
  }

  .sm\:pb-40{
    padding-bottom: 10rem;
  }

  .sm\:pl-40{
    padding-left: 10rem;
  }

  .sm\:pt-48{
    padding-top: 12rem;
  }

  .sm\:pr-48{
    padding-right: 12rem;
  }

  .sm\:pb-48{
    padding-bottom: 12rem;
  }

  .sm\:pl-48{
    padding-left: 12rem;
  }

  .sm\:pt-56{
    padding-top: 14rem;
  }

  .sm\:pr-56{
    padding-right: 14rem;
  }

  .sm\:pb-56{
    padding-bottom: 14rem;
  }

  .sm\:pl-56{
    padding-left: 14rem;
  }

  .sm\:pt-64{
    padding-top: 16rem;
  }

  .sm\:pr-64{
    padding-right: 16rem;
  }

  .sm\:pb-64{
    padding-bottom: 16rem;
  }

  .sm\:pl-64{
    padding-left: 16rem;
  }
}

@media (min-width: 768px){

  .md\:block{
    display: block;
  }

  .md\:flex{
    display: flex;
  }

  .md\:hidden{
    display: none;
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:place-items-start{
    place-items: start;
  }

  .md\:place-items-center{
    place-items: center;
  }

  .md\:items-start{
    align-items: flex-start;
  }

  .md\:order-2{
    order: 2;
  }

  .md\:my-0{
    margin-top: 0;
    margin-bottom: 0;
  }

  .md\:mx-0{
    margin-left: 0;
    margin-right: 0;
  }

  .md\:my-1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .md\:mx-1{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .md\:my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .md\:mx-2{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .md\:my-3{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .md\:mx-3{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .md\:my-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .md\:mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .md\:my-5{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .md\:mx-5{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .md\:my-6{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .md\:mx-6{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .md\:my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .md\:mx-8{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .md\:my-10{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .md\:mx-10{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .md\:my-12{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .md\:mx-12{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .md\:my-16{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .md\:mx-16{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .md\:my-20{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .md\:mx-20{
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .md\:my-24{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .md\:mx-24{
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .md\:my-32{
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .md\:mx-32{
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .md\:my-40{
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .md\:mx-40{
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .md\:my-48{
    margin-top: 12rem;
    margin-bottom: 12rem;
  }

  .md\:mx-48{
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .md\:my-56{
    margin-top: 14rem;
    margin-bottom: 14rem;
  }

  .md\:mx-56{
    margin-left: 14rem;
    margin-right: 14rem;
  }

  .md\:my-64{
    margin-top: 16rem;
    margin-bottom: 16rem;
  }

  .md\:mx-64{
    margin-left: 16rem;
    margin-right: 16rem;
  }

  .md\:mt-0{
    margin-top: 0;
  }

  .md\:mr-0{
    margin-right: 0;
  }

  .md\:mb-0{
    margin-bottom: 0;
  }

  .md\:ml-0{
    margin-left: 0;
  }

  .md\:mt-1{
    margin-top: 0.25rem;
  }

  .md\:mr-1{
    margin-right: 0.25rem;
  }

  .md\:mb-1{
    margin-bottom: 0.25rem;
  }

  .md\:ml-1{
    margin-left: 0.25rem;
  }

  .md\:mt-2{
    margin-top: 0.5rem;
  }

  .md\:mr-2{
    margin-right: 0.5rem;
  }

  .md\:mb-2{
    margin-bottom: 0.5rem;
  }

  .md\:ml-2{
    margin-left: 0.5rem;
  }

  .md\:mt-3{
    margin-top: 0.75rem;
  }

  .md\:mr-3{
    margin-right: 0.75rem;
  }

  .md\:mb-3{
    margin-bottom: 0.75rem;
  }

  .md\:ml-3{
    margin-left: 0.75rem;
  }

  .md\:mt-4{
    margin-top: 1rem;
  }

  .md\:mr-4{
    margin-right: 1rem;
  }

  .md\:mb-4{
    margin-bottom: 1rem;
  }

  .md\:ml-4{
    margin-left: 1rem;
  }

  .md\:mt-5{
    margin-top: 1.25rem;
  }

  .md\:mr-5{
    margin-right: 1.25rem;
  }

  .md\:mb-5{
    margin-bottom: 1.25rem;
  }

  .md\:ml-5{
    margin-left: 1.25rem;
  }

  .md\:mt-6{
    margin-top: 1.5rem;
  }

  .md\:mr-6{
    margin-right: 1.5rem;
  }

  .md\:mb-6{
    margin-bottom: 1.5rem;
  }

  .md\:ml-6{
    margin-left: 1.5rem;
  }

  .md\:mt-8{
    margin-top: 2rem;
  }

  .md\:mr-8{
    margin-right: 2rem;
  }

  .md\:mb-8{
    margin-bottom: 2rem;
  }

  .md\:ml-8{
    margin-left: 2rem;
  }

  .md\:mt-10{
    margin-top: 2.5rem;
  }

  .md\:mr-10{
    margin-right: 2.5rem;
  }

  .md\:mb-10{
    margin-bottom: 2.5rem;
  }

  .md\:ml-10{
    margin-left: 2.5rem;
  }

  .md\:mt-12{
    margin-top: 3rem;
  }

  .md\:mr-12{
    margin-right: 3rem;
  }

  .md\:mb-12{
    margin-bottom: 3rem;
  }

  .md\:ml-12{
    margin-left: 3rem;
  }

  .md\:mt-16{
    margin-top: 4rem;
  }

  .md\:mr-16{
    margin-right: 4rem;
  }

  .md\:mb-16{
    margin-bottom: 4rem;
  }

  .md\:ml-16{
    margin-left: 4rem;
  }

  .md\:mt-20{
    margin-top: 5rem;
  }

  .md\:mr-20{
    margin-right: 5rem;
  }

  .md\:mb-20{
    margin-bottom: 5rem;
  }

  .md\:ml-20{
    margin-left: 5rem;
  }

  .md\:mt-24{
    margin-top: 6rem;
  }

  .md\:mr-24{
    margin-right: 6rem;
  }

  .md\:mb-24{
    margin-bottom: 6rem;
  }

  .md\:ml-24{
    margin-left: 6rem;
  }

  .md\:mt-32{
    margin-top: 8rem;
  }

  .md\:mr-32{
    margin-right: 8rem;
  }

  .md\:mb-32{
    margin-bottom: 8rem;
  }

  .md\:ml-32{
    margin-left: 8rem;
  }

  .md\:mt-40{
    margin-top: 10rem;
  }

  .md\:mr-40{
    margin-right: 10rem;
  }

  .md\:mb-40{
    margin-bottom: 10rem;
  }

  .md\:ml-40{
    margin-left: 10rem;
  }

  .md\:mt-48{
    margin-top: 12rem;
  }

  .md\:mr-48{
    margin-right: 12rem;
  }

  .md\:mb-48{
    margin-bottom: 12rem;
  }

  .md\:ml-48{
    margin-left: 12rem;
  }

  .md\:mt-56{
    margin-top: 14rem;
  }

  .md\:mr-56{
    margin-right: 14rem;
  }

  .md\:mb-56{
    margin-bottom: 14rem;
  }

  .md\:ml-56{
    margin-left: 14rem;
  }

  .md\:mt-64{
    margin-top: 16rem;
  }

  .md\:mr-64{
    margin-right: 16rem;
  }

  .md\:mb-64{
    margin-bottom: 16rem;
  }

  .md\:ml-64{
    margin-left: 16rem;
  }

  .md\:ml-auto{
    margin-left: auto;
  }

  .md\:max-w-xl{
    max-width: 36rem;
  }

  .md\:max-w-3xl{
    max-width: 48rem;
  }

  .md\:py-0{
    padding-top: 0;
    padding-bottom: 0;
  }

  .md\:px-0{
    padding-left: 0;
    padding-right: 0;
  }

  .md\:py-1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .md\:px-1{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .md\:py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .md\:px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .md\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .md\:px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .md\:py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .md\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .md\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .md\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .md\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .md\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .md\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .md\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .md\:px-24{
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .md\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .md\:px-32{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .md\:py-40{
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .md\:px-40{
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .md\:py-48{
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .md\:px-48{
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .md\:py-56{
    padding-top: 14rem;
    padding-bottom: 14rem;
  }

  .md\:px-56{
    padding-left: 14rem;
    padding-right: 14rem;
  }

  .md\:py-64{
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  .md\:px-64{
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .md\:pt-0{
    padding-top: 0;
  }

  .md\:pr-0{
    padding-right: 0;
  }

  .md\:pb-0{
    padding-bottom: 0;
  }

  .md\:pl-0{
    padding-left: 0;
  }

  .md\:pt-1{
    padding-top: 0.25rem;
  }

  .md\:pr-1{
    padding-right: 0.25rem;
  }

  .md\:pb-1{
    padding-bottom: 0.25rem;
  }

  .md\:pl-1{
    padding-left: 0.25rem;
  }

  .md\:pt-2{
    padding-top: 0.5rem;
  }

  .md\:pr-2{
    padding-right: 0.5rem;
  }

  .md\:pb-2{
    padding-bottom: 0.5rem;
  }

  .md\:pl-2{
    padding-left: 0.5rem;
  }

  .md\:pt-3{
    padding-top: 0.75rem;
  }

  .md\:pr-3{
    padding-right: 0.75rem;
  }

  .md\:pb-3{
    padding-bottom: 0.75rem;
  }

  .md\:pl-3{
    padding-left: 0.75rem;
  }

  .md\:pt-4{
    padding-top: 1rem;
  }

  .md\:pr-4{
    padding-right: 1rem;
  }

  .md\:pb-4{
    padding-bottom: 1rem;
  }

  .md\:pl-4{
    padding-left: 1rem;
  }

  .md\:pt-5{
    padding-top: 1.25rem;
  }

  .md\:pr-5{
    padding-right: 1.25rem;
  }

  .md\:pb-5{
    padding-bottom: 1.25rem;
  }

  .md\:pl-5{
    padding-left: 1.25rem;
  }

  .md\:pt-6{
    padding-top: 1.5rem;
  }

  .md\:pr-6{
    padding-right: 1.5rem;
  }

  .md\:pb-6{
    padding-bottom: 1.5rem;
  }

  .md\:pl-6{
    padding-left: 1.5rem;
  }

  .md\:pt-8{
    padding-top: 2rem;
  }

  .md\:pr-8{
    padding-right: 2rem;
  }

  .md\:pb-8{
    padding-bottom: 2rem;
  }

  .md\:pl-8{
    padding-left: 2rem;
  }

  .md\:pt-10{
    padding-top: 2.5rem;
  }

  .md\:pr-10{
    padding-right: 2.5rem;
  }

  .md\:pb-10{
    padding-bottom: 2.5rem;
  }

  .md\:pl-10{
    padding-left: 2.5rem;
  }

  .md\:pt-12{
    padding-top: 3rem;
  }

  .md\:pr-12{
    padding-right: 3rem;
  }

  .md\:pb-12{
    padding-bottom: 3rem;
  }

  .md\:pl-12{
    padding-left: 3rem;
  }

  .md\:pt-16{
    padding-top: 4rem;
  }

  .md\:pr-16{
    padding-right: 4rem;
  }

  .md\:pb-16{
    padding-bottom: 4rem;
  }

  .md\:pl-16{
    padding-left: 4rem;
  }

  .md\:pt-20{
    padding-top: 5rem;
  }

  .md\:pr-20{
    padding-right: 5rem;
  }

  .md\:pb-20{
    padding-bottom: 5rem;
  }

  .md\:pl-20{
    padding-left: 5rem;
  }

  .md\:pt-24{
    padding-top: 6rem;
  }

  .md\:pr-24{
    padding-right: 6rem;
  }

  .md\:pb-24{
    padding-bottom: 6rem;
  }

  .md\:pl-24{
    padding-left: 6rem;
  }

  .md\:pt-32{
    padding-top: 8rem;
  }

  .md\:pr-32{
    padding-right: 8rem;
  }

  .md\:pb-32{
    padding-bottom: 8rem;
  }

  .md\:pl-32{
    padding-left: 8rem;
  }

  .md\:pt-40{
    padding-top: 10rem;
  }

  .md\:pr-40{
    padding-right: 10rem;
  }

  .md\:pb-40{
    padding-bottom: 10rem;
  }

  .md\:pl-40{
    padding-left: 10rem;
  }

  .md\:pt-48{
    padding-top: 12rem;
  }

  .md\:pr-48{
    padding-right: 12rem;
  }

  .md\:pb-48{
    padding-bottom: 12rem;
  }

  .md\:pl-48{
    padding-left: 12rem;
  }

  .md\:pt-56{
    padding-top: 14rem;
  }

  .md\:pr-56{
    padding-right: 14rem;
  }

  .md\:pb-56{
    padding-bottom: 14rem;
  }

  .md\:pl-56{
    padding-left: 14rem;
  }

  .md\:pt-64{
    padding-top: 16rem;
  }

  .md\:pr-64{
    padding-right: 16rem;
  }

  .md\:pb-64{
    padding-bottom: 16rem;
  }

  .md\:pl-64{
    padding-left: 16rem;
  }

  .md\:shadow-none{
    box-shadow: none;
  }

  .md\:w-4\/12{
    width: 33.333333%;
  }

  .md\:w-8\/12{
    width: 66.666667%;
  }

  .md\:gap-24{
    grid-gap: 6rem;
    gap: 6rem;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-5{
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:col-span-1{
    grid-column: span 1 / span 1;
  }

  .md\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .md\:col-span-3{
    grid-column: span 3 / span 3;
  }
}

@media (min-width: 1024px){

  .lg\:flex{
    display: flex;
  }

  .lg\:h-350{
    height: 350px;
  }

  .lg\:h-500{
    height: 500px;
  }

  .lg\:my-0{
    margin-top: 0;
    margin-bottom: 0;
  }

  .lg\:mx-0{
    margin-left: 0;
    margin-right: 0;
  }

  .lg\:my-1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .lg\:mx-1{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .lg\:my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .lg\:mx-2{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .lg\:my-3{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .lg\:mx-3{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .lg\:my-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .lg\:mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .lg\:my-5{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .lg\:mx-5{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .lg\:my-6{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .lg\:mx-6{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .lg\:my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .lg\:mx-8{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .lg\:my-10{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .lg\:mx-10{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .lg\:my-12{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .lg\:mx-12{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .lg\:my-16{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .lg\:mx-16{
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .lg\:my-20{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .lg\:mx-20{
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .lg\:my-24{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .lg\:mx-24{
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .lg\:my-32{
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .lg\:mx-32{
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .lg\:my-40{
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .lg\:mx-40{
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .lg\:my-48{
    margin-top: 12rem;
    margin-bottom: 12rem;
  }

  .lg\:mx-48{
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .lg\:my-56{
    margin-top: 14rem;
    margin-bottom: 14rem;
  }

  .lg\:mx-56{
    margin-left: 14rem;
    margin-right: 14rem;
  }

  .lg\:my-64{
    margin-top: 16rem;
    margin-bottom: 16rem;
  }

  .lg\:mx-64{
    margin-left: 16rem;
    margin-right: 16rem;
  }

  .lg\:mt-0{
    margin-top: 0;
  }

  .lg\:mr-0{
    margin-right: 0;
  }

  .lg\:mb-0{
    margin-bottom: 0;
  }

  .lg\:ml-0{
    margin-left: 0;
  }

  .lg\:mt-1{
    margin-top: 0.25rem;
  }

  .lg\:mr-1{
    margin-right: 0.25rem;
  }

  .lg\:mb-1{
    margin-bottom: 0.25rem;
  }

  .lg\:ml-1{
    margin-left: 0.25rem;
  }

  .lg\:mt-2{
    margin-top: 0.5rem;
  }

  .lg\:mr-2{
    margin-right: 0.5rem;
  }

  .lg\:mb-2{
    margin-bottom: 0.5rem;
  }

  .lg\:ml-2{
    margin-left: 0.5rem;
  }

  .lg\:mt-3{
    margin-top: 0.75rem;
  }

  .lg\:mr-3{
    margin-right: 0.75rem;
  }

  .lg\:mb-3{
    margin-bottom: 0.75rem;
  }

  .lg\:ml-3{
    margin-left: 0.75rem;
  }

  .lg\:mt-4{
    margin-top: 1rem;
  }

  .lg\:mr-4{
    margin-right: 1rem;
  }

  .lg\:mb-4{
    margin-bottom: 1rem;
  }

  .lg\:ml-4{
    margin-left: 1rem;
  }

  .lg\:mt-5{
    margin-top: 1.25rem;
  }

  .lg\:mr-5{
    margin-right: 1.25rem;
  }

  .lg\:mb-5{
    margin-bottom: 1.25rem;
  }

  .lg\:ml-5{
    margin-left: 1.25rem;
  }

  .lg\:mt-6{
    margin-top: 1.5rem;
  }

  .lg\:mr-6{
    margin-right: 1.5rem;
  }

  .lg\:mb-6{
    margin-bottom: 1.5rem;
  }

  .lg\:ml-6{
    margin-left: 1.5rem;
  }

  .lg\:mt-8{
    margin-top: 2rem;
  }

  .lg\:mr-8{
    margin-right: 2rem;
  }

  .lg\:mb-8{
    margin-bottom: 2rem;
  }

  .lg\:ml-8{
    margin-left: 2rem;
  }

  .lg\:mt-10{
    margin-top: 2.5rem;
  }

  .lg\:mr-10{
    margin-right: 2.5rem;
  }

  .lg\:mb-10{
    margin-bottom: 2.5rem;
  }

  .lg\:ml-10{
    margin-left: 2.5rem;
  }

  .lg\:mt-12{
    margin-top: 3rem;
  }

  .lg\:mr-12{
    margin-right: 3rem;
  }

  .lg\:mb-12{
    margin-bottom: 3rem;
  }

  .lg\:ml-12{
    margin-left: 3rem;
  }

  .lg\:mt-16{
    margin-top: 4rem;
  }

  .lg\:mr-16{
    margin-right: 4rem;
  }

  .lg\:mb-16{
    margin-bottom: 4rem;
  }

  .lg\:ml-16{
    margin-left: 4rem;
  }

  .lg\:mt-20{
    margin-top: 5rem;
  }

  .lg\:mr-20{
    margin-right: 5rem;
  }

  .lg\:mb-20{
    margin-bottom: 5rem;
  }

  .lg\:ml-20{
    margin-left: 5rem;
  }

  .lg\:mt-24{
    margin-top: 6rem;
  }

  .lg\:mr-24{
    margin-right: 6rem;
  }

  .lg\:mb-24{
    margin-bottom: 6rem;
  }

  .lg\:ml-24{
    margin-left: 6rem;
  }

  .lg\:mt-32{
    margin-top: 8rem;
  }

  .lg\:mr-32{
    margin-right: 8rem;
  }

  .lg\:mb-32{
    margin-bottom: 8rem;
  }

  .lg\:ml-32{
    margin-left: 8rem;
  }

  .lg\:mt-40{
    margin-top: 10rem;
  }

  .lg\:mr-40{
    margin-right: 10rem;
  }

  .lg\:mb-40{
    margin-bottom: 10rem;
  }

  .lg\:ml-40{
    margin-left: 10rem;
  }

  .lg\:mt-48{
    margin-top: 12rem;
  }

  .lg\:mr-48{
    margin-right: 12rem;
  }

  .lg\:mb-48{
    margin-bottom: 12rem;
  }

  .lg\:ml-48{
    margin-left: 12rem;
  }

  .lg\:mt-56{
    margin-top: 14rem;
  }

  .lg\:mr-56{
    margin-right: 14rem;
  }

  .lg\:mb-56{
    margin-bottom: 14rem;
  }

  .lg\:ml-56{
    margin-left: 14rem;
  }

  .lg\:mt-64{
    margin-top: 16rem;
  }

  .lg\:mr-64{
    margin-right: 16rem;
  }

  .lg\:mb-64{
    margin-bottom: 16rem;
  }

  .lg\:ml-64{
    margin-left: 16rem;
  }

  .lg\:ml-auto{
    margin-left: auto;
  }

  .lg\:py-0{
    padding-top: 0;
    padding-bottom: 0;
  }

  .lg\:px-0{
    padding-left: 0;
    padding-right: 0;
  }

  .lg\:py-1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .lg\:px-1{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .lg\:py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lg\:px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .lg\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .lg\:px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .lg\:py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lg\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .lg\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .lg\:py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .lg\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .lg\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .lg\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .lg\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lg\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:px-24{
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .lg\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:px-32{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .lg\:py-40{
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .lg\:px-40{
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .lg\:py-48{
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .lg\:px-48{
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .lg\:py-56{
    padding-top: 14rem;
    padding-bottom: 14rem;
  }

  .lg\:px-56{
    padding-left: 14rem;
    padding-right: 14rem;
  }

  .lg\:py-64{
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  .lg\:px-64{
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .lg\:pt-0{
    padding-top: 0;
  }

  .lg\:pr-0{
    padding-right: 0;
  }

  .lg\:pb-0{
    padding-bottom: 0;
  }

  .lg\:pl-0{
    padding-left: 0;
  }

  .lg\:pt-1{
    padding-top: 0.25rem;
  }

  .lg\:pr-1{
    padding-right: 0.25rem;
  }

  .lg\:pb-1{
    padding-bottom: 0.25rem;
  }

  .lg\:pl-1{
    padding-left: 0.25rem;
  }

  .lg\:pt-2{
    padding-top: 0.5rem;
  }

  .lg\:pr-2{
    padding-right: 0.5rem;
  }

  .lg\:pb-2{
    padding-bottom: 0.5rem;
  }

  .lg\:pl-2{
    padding-left: 0.5rem;
  }

  .lg\:pt-3{
    padding-top: 0.75rem;
  }

  .lg\:pr-3{
    padding-right: 0.75rem;
  }

  .lg\:pb-3{
    padding-bottom: 0.75rem;
  }

  .lg\:pl-3{
    padding-left: 0.75rem;
  }

  .lg\:pt-4{
    padding-top: 1rem;
  }

  .lg\:pr-4{
    padding-right: 1rem;
  }

  .lg\:pb-4{
    padding-bottom: 1rem;
  }

  .lg\:pl-4{
    padding-left: 1rem;
  }

  .lg\:pt-5{
    padding-top: 1.25rem;
  }

  .lg\:pr-5{
    padding-right: 1.25rem;
  }

  .lg\:pb-5{
    padding-bottom: 1.25rem;
  }

  .lg\:pl-5{
    padding-left: 1.25rem;
  }

  .lg\:pt-6{
    padding-top: 1.5rem;
  }

  .lg\:pr-6{
    padding-right: 1.5rem;
  }

  .lg\:pb-6{
    padding-bottom: 1.5rem;
  }

  .lg\:pl-6{
    padding-left: 1.5rem;
  }

  .lg\:pt-8{
    padding-top: 2rem;
  }

  .lg\:pr-8{
    padding-right: 2rem;
  }

  .lg\:pb-8{
    padding-bottom: 2rem;
  }

  .lg\:pl-8{
    padding-left: 2rem;
  }

  .lg\:pt-10{
    padding-top: 2.5rem;
  }

  .lg\:pr-10{
    padding-right: 2.5rem;
  }

  .lg\:pb-10{
    padding-bottom: 2.5rem;
  }

  .lg\:pl-10{
    padding-left: 2.5rem;
  }

  .lg\:pt-12{
    padding-top: 3rem;
  }

  .lg\:pr-12{
    padding-right: 3rem;
  }

  .lg\:pb-12{
    padding-bottom: 3rem;
  }

  .lg\:pl-12{
    padding-left: 3rem;
  }

  .lg\:pt-16{
    padding-top: 4rem;
  }

  .lg\:pr-16{
    padding-right: 4rem;
  }

  .lg\:pb-16{
    padding-bottom: 4rem;
  }

  .lg\:pl-16{
    padding-left: 4rem;
  }

  .lg\:pt-20{
    padding-top: 5rem;
  }

  .lg\:pr-20{
    padding-right: 5rem;
  }

  .lg\:pb-20{
    padding-bottom: 5rem;
  }

  .lg\:pl-20{
    padding-left: 5rem;
  }

  .lg\:pt-24{
    padding-top: 6rem;
  }

  .lg\:pr-24{
    padding-right: 6rem;
  }

  .lg\:pb-24{
    padding-bottom: 6rem;
  }

  .lg\:pl-24{
    padding-left: 6rem;
  }

  .lg\:pt-32{
    padding-top: 8rem;
  }

  .lg\:pr-32{
    padding-right: 8rem;
  }

  .lg\:pb-32{
    padding-bottom: 8rem;
  }

  .lg\:pl-32{
    padding-left: 8rem;
  }

  .lg\:pt-40{
    padding-top: 10rem;
  }

  .lg\:pr-40{
    padding-right: 10rem;
  }

  .lg\:pb-40{
    padding-bottom: 10rem;
  }

  .lg\:pl-40{
    padding-left: 10rem;
  }

  .lg\:pt-48{
    padding-top: 12rem;
  }

  .lg\:pr-48{
    padding-right: 12rem;
  }

  .lg\:pb-48{
    padding-bottom: 12rem;
  }

  .lg\:pl-48{
    padding-left: 12rem;
  }

  .lg\:pt-56{
    padding-top: 14rem;
  }

  .lg\:pr-56{
    padding-right: 14rem;
  }

  .lg\:pb-56{
    padding-bottom: 14rem;
  }

  .lg\:pl-56{
    padding-left: 14rem;
  }

  .lg\:pt-64{
    padding-top: 16rem;
  }

  .lg\:pr-64{
    padding-right: 16rem;
  }

  .lg\:pb-64{
    padding-bottom: 16rem;
  }

  .lg\:pl-64{
    padding-left: 16rem;
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:col-span-2{
    grid-column: span 2 / span 2;
  }
}

@media (min-width: 1280px){
}
