/*
Main variables
*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&family=Source+Serif+Pro:wght@200;300;600&display=swap");

:root {

    /* font families */
    --font-sans: 'Source Sans Pro', sans-serif;
    --font-serif: 'Source Serif Pro', serif;
    /* font-size */
    --font-size: 1.6rem;
    --font-weight: 300;
    --line-height: 1.8;
    --fw-extra-light: 200;
    --fw-bold: 600;

    /* colors */
    --primary-color: #cb7375;
    --white: #FFF;
    --gray: #646464;
    --light-gray: #D6D6D6;
    --dark: #262626;

    /* container */
    --container: 1200px;
    --max-container: calc(100% - 20px);

    /* bloc styles */
    --radius: .2rem;
}
