.btn {
    @apply px-10 py-3 rounded font-semibold inline-block transition-all duration-300 flex place-items-center transform;

    &--pink {
        @apply bg-pink text-white;
        &:hover {
            @apply shadow -translate-y-1;
        }
    }

    &--gray__outline {
        @apply border border-gray-300;
        &:hover {
            @apply text-pink -translate-y-1;
        }
    }
}