$iconWidth: 35px;

.social-menu {
    @apply flex;
    li a {

        &:first-of-type {
            @apply ml-0;
        }

        @apply  block mx-4 flex place-items-center justify-center duration-300;
        width: $iconWidth;
        height: $iconWidth;
        background-image: url('/wp-content/themes/espaceuninstant/assets/images/sprites-social.png');
        background-size: calc(#{$iconWidth} * 4);
        text-indent: -999rem;

        &:hover {
            background-position-y: bottom;
        }
    }

    .facebook a {
        background-position: 0 0;
    }
    .linkedin a {
        background-position: $iconWidth 0;
    }
    .houzz a {
        background-position: #{$iconWidth * 2} 0;
    }
    .instagram a {
        background-position: #{$iconWidth * 3} 0;
    }
}