figure:not(.alignfull) {
    img {
        @apply rounded;
    }
}

figure figcaption {
    @apply text-sm text-gray-500 text-center tracking-wide;
}

@screen lg {
    .alignwide {
        margin-left: -20%;
        margin-right: -20%;
    }
}

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    img {
        // max-height: 500px;
        object-fit: cover;
    }
}

.boxed {
    @apply relative;
    img {
        @apply shadow-xl rounded relative;
    }

    &::before {
        content: "";
        @apply absolute left-0 top-0 w-full h-full mt-3 -ml-3 border border-pink rounded ;
    }

    &--right {
        &::before {
            content: "";
            @apply ml-3;
        }
    }
}
