.main-nav {
    .menu-item {
        @apply block mb-1 flex-shrink-0 rounded;

        a {
            @apply block w-full px-4 py-3
        }

        &:not(.current-menu-item):hover {
            @apply bg-gray-200;
        }

        @screen md {
            @apply mb-0;
        }
    }

    .current-menu-item {
        @apply font-semibold bg-pink text-white;

        @screen md {
            @apply bg-transparent text-black;
            &::after {
                content: '';
                @apply ml-4 block w-8 border-b-2 border-pink;
            }
        }
    }

    select {
        @apply font-semibold p-2 border border-gray-300 rounded uppercase w-full;
        @screen md {
            @apply ml-8 w-auto;
        }
    }
}