.projects-list {
    @apply grid gap-16;

    .project:nth-child(odd) {
        .project-thumb {
            @apply order-2;
        }
        .project-desc {
            @screen md {
                @apply mr-6;
            }
        }
        .project-tags {
            @apply -translate-x-6 bottom-0 left-0 origin-bottom-left -rotate-90;
        }
        .read-more {
            @apply translate-x-20;
            &:hover {
                @apply translate-x-24;
            }
        }
    }

    .project:nth-child(even) {
        .project-thumb {
            @extend .boxed--right;
        }
        .project-desc {
            @screen md {
                @apply ml-6;
            }
        }
        .project-tags {
            @apply translate-x-6 bottom-0 right-0 origin-bottom-right rotate-90;
        }
        .read-more {
            @apply justify-start -translate-x-20;
            &:hover {
                @apply -translate-x-24;
            }
            img {
                order: -1;
                @apply transform -rotate-180 mr-2 ml-0;
            }
        }
    }
}

.read-more {
    @apply text-pink font-serif text-base mt-6 ml-auto justify-end transform duration-300;
    img {
        @apply ml-2;
    }
}

// .project-thumb {
//     @screen md {
//         &::before {
//             content: '';
//             @apply absolute left-0 top-0 h-full w-full border border-pink rounded mt-3 -ml-3;
//         }
//     }
// }

.project-content {
    * {
        visibility: hidden;
    }
    p {
        @apply my-6;
        @screen md {
            @apply my-12;
        }
        @screen lg {
            @apply my-16;
        }
    }
}

.project-thumb {
    a {
        @apply block overflow-hidden rounded h-full;
    }
    img {
        @apply transform duration-300 origin-bottom;
    }

    &:hover img {
        @apply scale-105 ;
    }
}
