html {
    font-size: 14px;

    @screen md {
        font-size: 15px;
    }
}
body {
    @apply font-sans font-light text-lg;
}

.site-loading {
    @apply z-50 bg-white fixed top-0 left-0 w-screen h-screen flex place-items-center justify-center select-none;
}

.page-title {
    @apply text-5xl uppercase tracking-wide;
    &::after {
        content: "";
        @apply block mb-4 w-8 border-b border-pink;
    }
}

.masonry-grid .grid-item {
    width: 200px;
    margin-bottom: 10px;

    @screen sm {
        width: 200px;
    }
    @screen md {
        width: 300px;
    }
}

[data-target="reveal"], .js-reveal {
    visibility: hidden;
}


@keyframes isOut {
    from {
        display: block;
        opacity: 1;
        pointer-events: all;
    }
    to {
        display: none;
        opacity: 0;
        pointer-events: none;
    }
}

.is-out {
    animation: 1s forwards isOut;
    -webkit-animation: 1s forwards isOut;
    -moz-animation: 1s forwards isOut;
    -ms-animation: 1s forwards isOut;
    -o-animation: 1s forwards isOut;
}